################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/config/applicationhost.config
/.vs/Project/FileContentIndex/c4f5db8e-b2a2-4017-9f6d-53397416734a.vsidx
/.vs/Project/v17/.wsuo
/.vs/Project/v17/DocumentLayout.backup.json
/.vs/Project/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/node_modules/.package-lock.json
/node_modules/crypto/package.json
/node_modules/crypto/README.md
/node_modules/http/package.json
/node_modules/http/README.md
/node_modules/querystring/CHANGELOG.md
/node_modules/querystring/decode.d.ts
/node_modules/querystring/decode.js
/node_modules/querystring/encode.d.ts
/node_modules/querystring/encode.js
/node_modules/querystring/index.d.ts
/node_modules/querystring/index.js
/node_modules/querystring/LICENSE
/node_modules/querystring/package.json
/node_modules/querystring/README.md
/.vs/Project/FileContentIndex/baed0fb0-8a77-42c9-824f-31d86242088f.vsidx
/.vs/Project/FileContentIndex/0ce7dfbd-b535-4871-ac7b-3acab115e990.vsidx
/.vs/Project/FileContentIndex/d14657d3-035c-4260-928d-2fb784a288c2.vsidx
/.vs/Project/FileContentIndex/2bdc4847-5422-424c-9ffe-9b903366f8ca.vsidx
/.vs/Project/FileContentIndex/23e81aa0-18f0-46fb-adc5-358bc27ce88a.vsidx
